@font-face {
    font-family: 'AmazonEmber';
    src: url('../fonts/Ember/AmazonEmber_Bd.ttf') format('truetype'); /* Safari, Android, iOS */
}

body {
    overflow-x: hidden;
    background-color: #c6f4e0;
    font-family: AmazonEmber;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

header {
    background-color: black;
    top: 0px;
    position: absolute;
    left: 0px;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 9.5%;
}

.quantityChange {
    background-color: #FD8505;
    font-weight: bold;
    border-radius: 1000px;
}

.selection {
    background-color: #FD8505;
    font-weight: bold;
    font-family: AmazonEmber;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    border: none;
    font-size: 15px;
}

.selection:hover {
    box-shadow: 0 0 20px 5px white;
}

.logo {
    max-width: 10vw;
    margin: 24px 10px 10px 10px;
}

.table {
    position : absolute;
    top : 25%;
}